.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-card {
  width: 100%; 
  border-radius: 5px;
}

.profile-info {
  flex-grow: 1;
  padding-left: 10px;
}

.profile-actions {
  display: flex;
  gap: 10px;
}
