.postCard {
    height: fit-content;
    width: 70%;
}

.userPostHeader>a {
    color: black;
    text-decoration: none;
}

.postText {
    white-space: pre-wrap;
}

.postText>Button {
    text-decoration: none;
}
.chat-icon-button-text {
    color: black; 
  }
  
  .no-underline {
    text-decoration: none;
  }
  
  .chat-icon {
    color: black; 
  }
  
  .chat-number {
    color: black; 
  }
  