.group-card-container {
    height: 100vh;
    overflow-y: auto;
  }
  
  .group-card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .group-card-wrapper > * {
    flex: 0 0 20%; /* 5 cards per row */
    margin: 0.5rem;
  }
  